-- UPSERT contactListId for existing contacts in lists
-- First, let's see what lists exist and their contacts
SELECT 
  cl.id as list_id,
  cl.name as list_name,
  cl.totalContacts,
  COUNT(c.id) as actual_contacts
FROM \
ContactList\ cl
LEFT JOIN \Contact\ c ON c.\contactListId\ = cl.id
GROUP BY cl.id, cl.name, cl.totalContacts
ORDER BY cl.createdAt DESC;

-- UPSERT: Link contacts to their lists based on existing relationships
-- This assumes contacts are linked to lists through some other mechanism
-- We need to figure out how contacts are currently associated with lists

-- Option 1: If contacts have a listId field somewhere else
-- UPDATE \
Contact\ 
-- SET \contactListId\ = (SELECT id FROM \ContactList\ WHERE name = 'Champion Site Qs')
-- WHERE email IN ('adam.cole.0524@gmail.com', 'critter@core4ce.com');

-- Option 2: If we need to create the relationship from scratch
-- We'll need to know which contacts belong to which lists

-- For now, let's see what we have:
SELECT 'Current state:' as info;
SELECT 
  cl.id as list_id,
  cl.name as list_name,
  cl.\totalContacts\,
  COUNT(c.id) as linked_contacts
FROM \ContactList\ cl
LEFT JOIN \Contact\ c ON c.\contactListId\ = cl.id
GROUP BY cl.id, cl.name, cl.\totalContacts\;

SELECT 'All contacts without list:' as info;
SELECT id, \firstName\, \lastName\, email, \contactListId\
FROM \Contact\ 
WHERE \contactListId\ IS NULL
LIMIT 10;
